/* * {
    background-color:gray;
/* } */
/* html {
  background-color: coral;
} */ 

.modal {
    text-align: center;       /* Center the modal window. */
  }
  
.modal-dialog {
    width: auto;
    margin: 30px auto;
    display: inline-block;
  }

#matchImg {
    width:100%;

  }